client/*
!client/your-extensions/
!client/your-extensions/**
!client/dist/
client/dist/*
!client/dist/widgets/
!client/dist/widgets/**
public/
.env
.env.*
!.env.example
*.ags
*.sde
*.sd
*.sddraft
gptools/settings.local.*
__pycache__/
*.py[cod]
**/node_modules/
*.log
.DS_Store
Thumbs.db
.vscode/
